# Looping through an entire list

In [2]:
magicians = ['alice','david','carolina']

for magician in magicians:
    print(magician.title())

Alice
David
Carolina

In [6]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick {magician.title()}.\n")
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick Alice.

David, that was a great trick!
I can't wait to see your next trick David.

Carolina, that was a great trick!
I can't wait to see your next trick Carolina.

Thank you everyone, that was a great magic show!

In [11]:
# 4-1 Pizzas

pizzas = ['pepperoni','cheese','margarita']

for pizza in pizzas:
    print(f"I like {pizza} pizza!")
print("\nI really love pizza!")

I like pepperoni pizza!
I like cheese pizza!
I like margarita pizza!

I really love pizza!

In [16]:
# 4-2 Animals 

animals = ['lion','tiger','cheetah']

for animal in animals:
    print(f"\nA {animal} would not make great pets.")
print(f"\nThese are all BIG cats!")

A lion would not make great pets.

A tiger would not make great pets.

A cheetah would not make great pets.

These are all BIG cats!

# Using the range() Function

In [18]:
# Code below will capture all the numbers between 1-5 excluding 5
# Think begins at 1 ends before 5

for value in range(1,5):
    print(value)

1
2
3
4

In [20]:
# Using range() to make a list of numbers

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [22]:
# Use range() to skip numbers
# range(start number, end before, step size)

even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [24]:
# empty list

squares = []



# for value in range starting at 1 ending before 11
# find the square by raising each value by 2
# append the square to squares list

for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# List comprehensions

squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Try It Yourself

In [27]:
# 4-3 Conting to 20 (inclusive)

for number in range(1,21):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [31]:
# 4-4 One Million

numbers = list(range(1,11))

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [34]:
# 4-5 Summing a million

numbers = list(range(1,1000001))

print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000

In [36]:
# 4-6 Odd Numbers

odd_numbers = list(range(1,20,2))

for num in odd_numbers:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [41]:
# 4-7 Threes

multiples = list(range(3,31,3))

for num in multiples:
    print(num)

3
6
9
12
15
18
21
24
27
30

In [43]:
# 4-8 Cubes 

cubes = []
numbers = list(range(1,11))

for num in numbers:
    cube = num**3
    cubes.append(cube)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [44]:
# 4-9 Cube Comprehensions

cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Working with Part of a List

In [46]:
# Looping through a slice

players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [50]:
# Copying a list


# Copying the my_foods list since the friend likes everything you like so far
my_foods = ['pizza','falafel','carrot cake']
friends_foods = my_foods[:]

# Appending both lists to show they are two different lisgts
my_foods.append('cannoli')
friends_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friends_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [62]:
# 4-10 Slices

my_foods = ['pizza','falafel','carrot cake','cannoli']

print("The first three items in the list are:")
for item in my_foods[0:3]:
    print(item)

print("\nThe items in the middle of the list are:")
for item in my_foods[1:3]:
    print(item)

print("\nThe last three items in the list are:")
for item in my_foods[-3:]:
    print(item)

The first three items in the list are:
pizza
falafel
carrot cake

The items in the middle of the list are:
falafel
carrot cake

The last three items in the list are:
falafel
carrot cake
cannoli

In [75]:
# 4-11 My pizzas, your pizzas

pizzas = ['pepperoni','cheese','margarita']
friend_pizzas = pizzas[:]

pizzas.append('veggie')
friend_pizzas.append('meat lovers')

print("My favorite pizzas are:")
for pizza in pizzas:
    print(pizza.title())
    

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(pizza.title())

My favorite pizzas are:
Pepperoni
Cheese
Margarita
Veggie

My friend's favorite pizzas are:
Pepperoni
Cheese
Margarita
Meat Lovers

In [76]:
# 4-12

print("My favorite foods are:")
for food in my_foods :
    print(food.title())
    

print("\nMy friend's favorite foods are:")
for pizza in friends_foods:
    print(pizza.title())

My favorite foods are:
Pizza
Falafel
Carrot Cake
Cannoli

My friend's favorite foods are:
Pizza
Falafel
Carrot Cake
Ice Cream

## Tuples

In [81]:
# Writing over then tuple - can't modify a tuple but you can reassign it

dimensions = (200,50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400,100)
print("\nModfied dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modfied dimensions:
400
100

In [82]:
# 4-13 Buffet

menu = ('sea bass','roast chicken','steak','grilled vegetables','cholocate cake')
print("Original menu:")
for n in menu:
    print(n.title())
    
menu = ('sea bass','roast chicken','steak','salad','ice cream')
print("\nModfied menu:")
for n in menu:
    print(n.title())

Original menu:
Sea Bass
Roast Chicken
Steak
Grilled Vegetables
Cholocate Cake

Modfied menu:
Sea Bass
Roast Chicken
Steak
Salad
Ice Cream